%h1 Your Trial is Almost Over

%p We hope you've been enjoying Limestone. Your trial is about to end.

%p= "#{link_to 'Subscribe', subscribe_url, target: :_blank} to make sure your access is uninterrupted."

%p Thinking about leaving? Tell us why! < link to support >
