= form_tag locals[:path], id: 'payment-form', method: locals[:method] do
  .form-group
    %label{for: 'card-element'}
      Credit or debit card
    #card-element.form-control
    -# Used to display Element errors
    #card-errors{role: 'alert'}
  %button.btn.btn-success= locals[:method] == 'patch' ? 'Update' : 'Subscribe'
