= form_tag subscriptions_path, id: 'plan_switch_form', method: :patch do
  .input-group
    = select_tag 'product_id', options_from_collection_for_select(@plans, 'id', 'name', locals[:current_product_id]), { class: 'custom-select' }
    .input-group-append
      %button.btn.btn-outline-success Switch
