%h1= 'Subscribe!'
.row.justify-content-md-center
  .col-md-5
    %p
      = "Your trial ends in #{distance_of_time_in_words(Time.current, current_user.current_period_end)}. Subscribe now and billing will begin then. Yay no interruptions!"
    %p
      = render 'card_form', locals: { path: subscriptions_path }
