-# #confirm_modal.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: 'confirmModalLabel', hidden: 'true'}}
-#   .modal-dialog{role: 'document'}
-#     .modal-content
-#       .modal-header.modal-danger
-#         %h5#confirmModalLabel.modal-title Are you sure?
-#         %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
-#           %span{aria: {hidden: 'true'}} &times;
-#       .modal-footer
-#         %button.btn.btn-secondary{type:'button', data: {dismiss: 'modal'}} Cancel
-#         %button.btn.btn-danger{type: 'button'} Confirm
